<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eduponz.appcontabilidad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Accounting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainContentActivity" />
        <activity
            android:name=".AddEntryActivity"
            android:parentActivityName=".MainContentActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainContentActivity" />
        </activity>
        <activity android:name=".BudgetEntryActivity"
            android:parentActivityName=".MainContentActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainContentActivity" />
        </activity>
        <provider
            android:name=".data.AccountProvider"
            android:authorities="com.example.eduponz.appcontabilidad"
            android:exported="false" />
        <provider
            android:name=".data.UserProvider"
            android:authorities="com.example.eduponz.appcontabilidad"
            android:exported="false" />
    </application>

</manifest>